    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Milí príbuzní, priatelia, kolegovia a známi našich rodičov!</h2>
              <br/>
                <p>Tento školský rok dovŕšia naši drahí rodičia <strong>60 rokov</strong> – mama 15.11.2016 a otec 13.5.2017.</p>
                <p>My, ich deti, už dlhšie premýšľame nad nejakým „vhodným“ darom pre nich na tieto významné výročia. A&nbsp;chceme sa s vami podeliť o náš sen, prekvapenie pre nich.</p>
                <p>Radi by sme ich poslali na púť do Svätej zeme a dali <strong>aj vám účasť na tomto dare</strong>, nápade (aj preto, že naše finančné možnosti sú momentálne dosť obmedzené a týždňový zájazd pre jedného stojí okolo 700eur).</p>
                <p><strong>Chceme však takouto formou predovšetkým vyjadriť našim to, že majú okolo seba veľký okruh ľudí, ktorí ich majú radi, záleží im na nich a sú im oporou (a tu už nejde len o financie).</strong></p>
                <br/>
            </div>
        </div>
    </section>
