    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Milí príbuzní, priatelia, kolegovia a známi našich rodičov!</h2>
              <br/>
                <p>Tento školský rok dovŕšia naši drahí rodičia <strong>60 rokov</strong> – mama 15.11.2016 a otec 13.5.2017.</p>
                <p>My, ich deti, už dlhšie premýšľame nad vhodným darom pre nich na toto významné výročie. A chceme sa s vami podeliť o náš sen, prekvapenie pre nich.</p>
                <p>Radi by sme ich poslali na <strong>púť do Svätej zeme</strong>. Bol by to pre nich určite výnimočný cestovateľský aj duchovný zážitok. </p>
                <p>Keďže naše finančné možnosti sú obmedzené (týždňový zájazd pre jedného stojí okolo 700 eur), rozhodli sme sa <strong>pozvať vás k účasti na tomto dare.</strong></p>
                <p>Takto už darom nebude "len" zájazd, ale <strong>spoločne ukážeme našim rodičom, že majú okolo seba veľký okruh ľudí, ktorí ich majú radi</strong>, záleží im na nich a sú im oporou.</p>
                <p>Ak sa vám náš nápad pozdáva, poďte spolu s nami <strong>poblahoželať týmto dvom vzácnym ľuďom</strong>, ktorí pre nás toľko znamenajú.</p>
                <p>Na sume nezáleží, akýkoľvek dar sa počíta. <strong>Meno každého darcu bude uvedené na darčekovom poukaze.</strong> Ak by ste im chceli aj niečo odkázať, svoje prianie napíšte do správy pre príjemcu u bankového prevodu alebo Elenke na elavcela (zavináč) gmail.com.</p>
                <p>&nbsp;</p>
                <p>Vopred ďakujeme za vašu podporu (aj modlitebnú)!</p>
                <p><i>Magdaléna, Júlia, Elena, Klára a Matej</i></p>
                <br/>
            </div>
        </div>
    </section>
